# Systemd Service
# sudo cp ./server.service /etc/systemd/system/shellserver.service
# sudo systemctl daemon-reload
# sudo systemctl enable --now shellserver
[Unit]
Description=Simple Bash HTTP Server
After=network.target

[Service]
Type=simple
ExecStart=/srv/server.sh
Restart=on-failure
User=www-data
WorkingDirectory=/srv

[Install]
WantedBy=multi-user.target

